[submodule "libMobileAgent"]
	path = libMobileAgent
	url = git@source.datanerd.us:mobile/libMobileAgent.git
[submodule "modular-crash-reporter-ios"]
	path = modular-crash-reporter-ios
	url = https://github.com/microsoft/plcrashreporter
