<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crashCollectorAddress</key>
	<string>staging-mobile-crash.newrelic.com</string>
	<key>collectorAddress</key>
	<string>staging-mobile-collector.newrelic.com</string>
	<key>NRAPIKey</key>
	<string>AA17fe6658e601c9f10eefc8f808c0763461b532d2-NRMA</string>
</dict>
</plist>
