<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crashCollectorAddress</key>
	<string>staging-mobile-crash.newrelic.com</string>
	<key>collectorAddress</key>
	<string>staging-mobile-collector.newrelic.com</string>
	<key>logIngestKey</key>
	<string></string>
	<key>NRAPIKey</key>
	<string>AA79b1eeb4e2a8f0ac23db15828c7720028e1360ec-NRMA</string>
</dict>
</plist>
