<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crashCollectorAddress</key>
	<string>staging-mobile-crash.newrelic.com</string>
	<key>collectorAddress</key>
	<string>staging-mobile-collector.newrelic.com</string>
	<key>isStaging</key>
	<false/>
	<key>NRAPIKey</key>
	<string>AAb74762ebd3736c35e50adaa4fbe2466e4d26b669-NRMA</string>
</dict>
</plist>
