# This purpose of this GitHub action is to automate uploading the main agent test app to LamdbaTest. LambdaTest has a retention policy of 60 days. This automation ensures that the app is always available for testing without manual intervention and will always be providing data to the following entities without interruption:

# main-agent-test-app-ios: https://staging.onenr.io/07jbMl8KnRy

# This action triggers a node.js function that uploads the app to LambdaTest.
# The function uses a `custom_id` to identify that app with a specific name rather than the default names provided upon upload, which will change per upload.

name: Upload iOS and Android apps to LambdaTest

on:
 # enables option for workflow to be manually executed in Github UI
 workflow_dispatch:

 push:
   branches:
     - main

 # Runs on the 1st of every month
 schedule:
   - cron: "0 0 1 * *"

jobs:

  build-ios:
    name: Build iOS app
    runs-on: macos-15

    steps:
      - name: Check out repository
        uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2

      - name: Setup environment
        uses: ./.github/actions/env-setup
    
      - name: Select Xcode 16.4
        run: |
          sudo xcode-select -switch /Applications/Xcode_16.4.app

      - name: Install dependencies
        run: |
          npm install
          cd ios && pod install

      - name: Clean iOS app
        run: |
          cd ios
          xcodebuild clean -workspace mainagenttestapp.xcworkspace -scheme mainagenttestapp
          pod update

      - name: Build iOS app
        run: |
          cd ios
          xcodebuild build \
            -workspace mainagenttestapp.xcworkspace -scheme mainagenttestapp \
            -configuration Release \
            -sdk iphonesimulator \
            build
    
      - name: Compress iOS app
        run: |
          cd ~
          cd ../..
          cd /Users/runner/Library/Developer/Xcode/DerivedData/mainagenttestapp-aiutyigxigajkbcjspvvdvuiqmit/Build/Products/Release-iphonesimulator/
          ls
          zip -r mainagenttestapp-ios.zip mainagenttestapp.app

      - name: Upload iOS app
        uses: actions/upload-artifact@v4
        with:
          name: mainagenttestapp-ios
          path: /Users/runner/Library/Developer/Xcode/DerivedData/mainagenttestapp-aiutyigxigajkbcjspvvdvuiqmit/Build/Products/Release-iphonesimulator/mainagenttestapp-ios.zip
          compression-level: 0
          retention-days: 1

  build-android:
    name: Build Android app
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "zulu" # See 'Supported distributions' for available options
          java-version: "17"
          cache: "gradle"

      - name: Install dependencies, clean & build
        run: |
          npm install
          cd android
          ./gradlew clean
          ./gradlew assembleRelease

      - name: Upload android app
        uses: actions/upload-artifact@v4
        with:
          name: mainagenttestapp-android
          path: ${{ github.workspace }}/android/app/build/outputs/apk/release/app-release.apk
          retention-days: 1

  upload-apps:
    name: Upload main agent test apps to LT
    needs: [build-ios, build-android]
    runs-on: ubuntu-latest
    env:
      LT_USERNAME: ${{ secrets.APP_EXP_LAMBDA_USERNAME }}
      LT_ACCESSKEY: ${{ secrets.APP_EXP_LAMBDA_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # pin@v4

      - name: Setup environment
        uses: ./.github/actions/env-setup

      - name: Download iOS artifact
        uses: actions/download-artifact@v4
        with:
          name: mainagenttestapp-ios
          path: ${{ github.workspace }}/builds

      - name: Download android artifact
        uses: actions/download-artifact@v4
        with:
          name: mainagenttestapp-android
          path: ${{ github.workspace }}/builds

      - name: Run upload script
        run: node lambdaTest/uploadAppToLambdaTest.mjs

      - name: Log success
        if: ${{ success() }}
        run: echo "[ RUNNER ] - successfully uploaded apps to LambdaTest"

      - name: Notify success
        if: ${{ success() }}
        uses: slackapi/slack-github-action@485a9d42d3a73031f12ec201c457e2162c45d02d # pin@v
        with:
          webhook-type: incoming-webhook
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          payload: |
            blocks:
              - type: "header"
                text:
                  type: "plain_text"
                  text: ":frog-wow-scroll: LambdaTest Upload Successful"
              - type: "divider"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: Congrats! We survived another month to claim victory over LambdaTest's retention policy. The main-agent-test-apps have been successfully uploaded and are ready for testing.
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Log failure
        if: ${{ failure() || cancelled() }}
        run: echo "[ RUNNER ] - failed to upload apps to LambdaTest"

      - name: Notify failure
        if: ${{ failure() || cancelled() }}
        uses: slackapi/slack-github-action@485a9d42d3a73031f12ec201c457e2162c45d02d # pin@v2
        with:
          webhook-type: incoming-webhook
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          payload: |
            blocks:
              - type: "header"
                text:
                  type: "plain_text"
                  text: ":crying-sunglasses-cowboy: LambdaTest Upload Failed"
              - type: "divider"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "Something went wrong while uploading the main-agent-test-apps to LambdaTest. Please check the logs for more details." 
                accessory:
                  type: "button"
                  text:
                    type: "plain_text"
                    text: "View logs"
                    emoji: true
                  value: "view_logs"
                  url: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  action_id: "button-action"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          
